.row {
  width: 100%;
  display: flex;
  margin: 0 auto;
  min-width: 70%;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  background-color: rgb(53, 84, 139);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: white;
  margin: auto;
}
