@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.logo-holder {
  gap: 8px;
  display: flex;
  margin: 0 0 0 1rem;
  align-items: center;
}

.logo {
  width: 50px;
}

.active {
  color: steelblue;
  text-decoration: none;
}

.color {
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  height: 150px;
  position: fixed;
  background-color: #fff;
  filter: alpha(opacity=50);
}

.hide {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  0%   {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
